<!doctype html>
{% load static %}
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans:wght@400;700&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
	<link rel="stylesheet" href="{% static 'css/glightbox.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/aos.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">



	<title>关于我们</title>
</head>

<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/" class="logo m-0 float-left">Express<span class="text-primary">.</span> </a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li><a href="{% url 'zya:index' %}">首页</a></li>
					<li><a href="{% url 'zya:mbtq' %}">目标提取</a></li>
					<li><a href="{% url 'zya:bhjc' %}">变化检测</a></li>
					<li><a href="{% url 'zya:mbjc' %}">目标检测</a></li>
					<li><a href="{% url 'zya:dwfl' %}">地物分类</a></li>
				</ul>

				<a href="#"
					class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light"
					data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</nav>

	<div class="hero overlay" style="background-image: url({% static 'images/轮播图背景.png' %})">

		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 mx-auto text-center">
					<div class="row mb-4 justify-content-center">
						<div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
							<h1 class="text-white fw-bold" data-aos="fade-up" data-aos-delay="0">关于我们</h1>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-lg-20">

							<p class="text-white" data-aos="fade-up" data-aos-delay="200" style="font-size: large;">
								我们注重技术上不断学习与创新
							</p>
							<p class="text-white" data-aos="fade-up" data-aos-delay="300" style="font-size: large;">
								我们注重将客户的产品表达的清楚与准确
							</p>
							<p class="text-white" data-aos="fade-up" data-aos-delay="400" style="font-size: large;">
								我们大多是理科出身，在计算机、电子、物理等各学科我们都有涉及，
								能够理解客户的需求，将客户的意图表现出来。
							</p>
							<p class="text-white" data-aos="fade-up" data-aos-delay="500" style="font-size: large;">
								我们将不断创新与提高技术水准，运用尖端的技术不断满足客户的服务需求。
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="site-footer">
		<div class="container">

			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h3>关于我们<span class="text-primary"></span> </h3>
						<p>一支有理想、有目标的团队！</p>
					</div> <!-- /.widget -->
					<div class="widget">
						<h3>联系我们</h3>
						<ul class="list-unstyled social">
							<li><a href="#"><span class="icon-instagram"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-pinterest"></span></a></li>
							<li><a href="#"><span class="icon-dribbble"></span></a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2 ml-auto">
					<div class="widget">
						<h3>相关链接</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="{% url 'zya:mbtq' %}">目标提取</a></li>
							<li><a href="{% url 'zya:bhjc' %}">变化检测</a></li>
							<li><a href="{% url 'zya:mbjc' %}">目标检测</a></li>
							<li><a href="{% url 'zya:dwfl' %}">地物分类</a></li>
							<li><a href="{% url 'zya:about' %}">关于我们</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

				<div class="col-lg-2">
					<div class="widget">
						<h3>Company</h3>
						<ul class="list-unstyled float-left links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->


				<div class="col-lg-3">
					<div class="widget">
						<h3>联系我们</h3>
						<address>地址：43 Raymouth Rd. Baltemoer, London 3910</address>
						<ul class="list-unstyled links mb-4">
							<li><a href="tel://11234567890">联系人：XXX</a></li>
							<li><a href="tel://11234567890">联系电话：156****0090</a></li>
							<li><a href="mailto:info@mydomain.com">邮箱：XXXXXX@163.com</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

			</div> <!-- /.row -->

			<div class="row mt-5">
				<div class="col-12 text-center">
					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> <i class="icon-heart text-danger"
							aria-hidden="true"></i>

				</div>
			</div>
		</div> <!-- /.container -->
	</div> <!-- /.site-footer -->

	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/tiny-slider.js' %}"></script>
	<script src="{% static '/js/aos.js' %}"></script>
	<script src="{% static 'js/navbar.js' %}"></script>
	<script src="{% static 'js/counter.js' %}"></script>
	<script src="{% static 'js/glightbox.min.js' %}"></script>

	<script src="{% static 'js/custom.js' %}"></script>

</body>

</html>